.Home {
  height: 100vh;
  background: url(./asset/doctor.jpg);
  background-size: cover;
}

.Home h1 {
  color: white;
}

.Home p {
  color: white;
}

.content {
  height: 50vh;
}

.Popular {
  height: 50vh;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popular-top p {
  cursor: pointer;
}

.movie-container {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.movie-wrapper :hover {
  box-shadow: 0 8px 20px 0 rgb(0, 0, 0.4, 0.8);
}

.movie-search {
  padding: 8px;
  width: 30rem;
  background-color: transparent;
  border-radius: 8px;
  color: rgb(247, 74, 74);
  border: 1px solid rgb(253, 111, 111);
}

.movie-image {
  height: 50%;
  width: 70%;
}

.movie-title {
  text-align: center;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8x;
  height: 24px;
}

.movie-rate {
  font-weight: 700;
  color: red;
  padding: 8px;
  font-weight: 600;
  text-decoration: underline;
}
